*::before {
  margin: 0;
  padding: 0;
}
*::after {
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.StripeElement {
  width: 100%;
}